<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web3 Message Signer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body class="d-flex flex-column min-vh-100" style="background: #4b4b4b">

<div class="container text-center">
    <h1 class="mt-5 text-primary display-3">Web3 Message Signer</h1>
    <p class="text-white">Simple tool that let you sign message through your metamask and return the signature</p>

    <div class="row mt-5">
        <div class="col-2"></div>
        <div class="col-8">{{ form.msg }}</div>
        <div class="col-2"></div>
    </div>

    <button type="button" onclick="startSigning()" class="btn btn-success btn-lg mt-3">Sign</button>

    <br><br>
    <p class="text-white display-6">Signature : </p>
    <p class="text-white mb-5" id="id_signature">Your signature will appears here..</p>
</div>

<footer class="container fixed-bottom text-center">
    <a href="https://github.com/Simecekk/msg-signer" target="_blank"><p class="display-6">GitHub</p></a>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script>
    function asciiToHex(str) {
        if (!str)
            return "0x00";
        var hex = "";
        for (var i = 0; i < str.length; i++) {
            var code = str.charCodeAt(i);
            var n = code.toString(16);
            hex += n.length < 2 ? '0' + n : n;
        }
        return "0x" + hex;
    }

    function checkWeb3(callback) {
        window.ethereum.request({method: 'eth_accounts'})
            .then((result) => {
                callback(result.length !== 0)
            })
            .catch((error) => {
                throw error;
            });
    }

    function startSigning() {
        window.ethereum.enable();
        if (typeof web3 !== 'undefined') {
            checkWeb3(function (loggedIn) {
                if (!loggedIn) {
                    alert("Please unlock your web3 provider (probably, Metamask)")
                } else {
                    let token = $('#id_msg').val();
                    let hex_token = asciiToHex(token);
                    window.ethereum.request({method: 'eth_accounts'})
                        .then((result) => {
                            let from = result[0];
                            window.ethereum.request(
                                {
                                    method: 'personal_sign',
                                    params: [
                                        from, hex_token
                                    ]
                                })
                                .then((result) => {
                                    $('#id_signature').text(result);
                                })
                                .catch((error) => {
                                    console.log(error);
                                });
                        })
                        .catch((error) => {
                            console.log(error);
                        });
                }
            });
        } else {
            alert('web3 missing');
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>
</html>